<section class="section container search-section">
  <form class="search-form" id="search-form">
    <div id="year-filter-container">
      <select class="select light-mode"></select>
    </div>
    <div id="genre-filter-container"></div>
    <input
      class="light-mode"
      type="text"
      name="searchQuery"
      autocomplete="off"
      placeholder="Search images..."
    />
    <button type="submit" class="submit-button">Search</button>
  </form>
  <div class="gallery"></div>
  <div id="pagination"></div>
  <div id="message"></div>
  <div id="search-movie-details-container" class="hidden"></div>
</section>
